body {
    color: #324950;
    background-color: #EDEDED;
    font-family: 'Roboto', sans-serif;

}

.container{
    max-width: 1200px;
    margin: auto;
}

.swiper-wrapper, .swiper-slise, .swiper-slide-active {
    max-width: 1060px;
    width: 1060px;
}

.header {
    margin-top: 44px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.imput{
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 35px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}

.imput-address {
    flex: 0.8;
    background-image: url(../images/home.png);    
}

.imput-search {
    background-image: url(../images/search.svg);
    width: 306px;
}

.button{
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1px solid gray;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.015);
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
}

.button-prim{
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #fff;
    margin-right: 10px;
}

.button-icon{
    margin-right: 8px;
    vertical-align: middle;
}

.button-text{
    vertical-align: middle;
}

.buttons{
    display: flex;
    align-items: center;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

.prommat{
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1); 
    border-radius: 10px; 
    padding: 68px 70px;
    margin-bottom: 56px;
    width: 1060px;
}

.pizza {
    background:#fff1b8 url(../images/promo/promo-images.png) no-repeat top -50px right -250px  / 800px;  
}
.kebab {
    background:#b8ffff url(../images/promo/kebab.png) no-repeat top -50px right -250px  / 800px;  
}
.vegetables {
    background:#b8ffc2 url(../images/promo/vegetables.png) no-repeat top 5px right -150px  / 800px;  
}
.sushi {
    background:#dfb8ff url(../images/promo/sushi.png) no-repeat top -50px right -250px  / 800px;  
}

.promo-title {
    font-style:normal;
    font-weight: bold; 
    line-height: 46px;
    font-size: 39px;
    color: #382c34;
    
}

.promo-text {
    font-style: normal;
    font-weight: normal; 
    line-height: 28px; 
    color: #382c34; 
    max-width: 538px;
    font-size: 24px;
} 

.sections-heading{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.sections-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 0px;
    color: #000000;
}

.restaurants, .menu{
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}


.cards, .card-heading, .restaurants.card-info {
    display: flex;
    align-items: flex-start; 
    flex-wrap: wrap; 
    justify-content: space-between;
}
    

.card {
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
}

.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-right: 23px;
    padding-left: 23px;
}

.card-title{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}

.card-info {
    display: flex; 
    align-items: center;
    margin-bottom: 24px;
}

.rating {
    margin-right: 26px;
    color: #ffc107; 
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}
    
.price, .category {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
}

.price {
    margin-right: 10px;
}

.price:after {
    content:"";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}

.footer{
    padding: 60px 0;
    background-color: #ffffff;
    margin-top: 70px;
}

.footer-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav{
    margin-left: 35px;
    margin-right: auto;
}

.footer-link{
    display: inline-block;
    color: #595959;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer-link:not(:last-child){
    margin-right: 15px;
}

.social-links{
    display: flex;
    align-items: center;
}

.social-link:not(:last-child) {
   margin-right: 21px;  
}

.category{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}

.ingredients{
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
}

.modal, .modal-auth, .modal-prob {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-auth{
z-index: 1;
} 
.modal-prob{
z-index: 2;
}

.is-open {
    display: flex;
}

.modal-body{
    margin-bottom: 52px;
}

.modal-body-auth{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
}

.label-auth{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-around;
}

.input{
    display: flex;
    width: 280px;
    margin-left: auto;
    margin-right: 50px;
}

.span{
    margin-left: 50px;
}

.user-name{
    margin-right: 15px;
    text-decoration: solid;
    font-family: 'Roboto';
    font-weight: bold;
}

.button-out {
    display: none;
    margin-left: 10px;
}

.modal-dialog{
    max-width: 780px;
    width: 95%;
    margin: auto;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 40px 45px;
}

.modal-title{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.close{
    font-size: 34px;
    border: none;
    background-color: transparent;
}

.food-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}

.food-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.food-counter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter{
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.counter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    top: 0px;
}

.modal-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-button{
    display: flex;
    align-items: center;
}

.modal-pricetag {
    background: #262626;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 15px 20px;
    line-height: 24px;
}

@media (max-width: 1366px){
    .container{
        max-width: 960px;
    }
    .prommat{
        background-size: 750px;
        background-position: center right -200px;
    }
    .rating{
        margin-right: 15px;
    }
    .category, .price{
        font-size: 14px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
    .prommat{
        padding: 50px;
        background-size: 500px;
        background-position: center right -200px;
    }
    .prom-text{
        font-size: 16px;
        min-width: 400px;
    }
    .card{
        flex-basis: 49%;
    }
    .footer{
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 560px;
    }
    .header{
        flex-wrap: wrap;
    }
    .imput-address{
        margin-top: 15px;
        order: 5;
        flex: 1;
    }
    .rating .card{
        flex-basis: 100%;
    }
    .card-info{
        flex-wrap: wrap;
    }
    .card-title{
        font-size: 18px;
    }
    .prommat{
        background-size: 300px;
        background-position: bottom 50px right -200px;
    }
    .prom-title{
        font-size: 24px;
        line-height: 1.4;
    }    
    .prom-text{
        margin-top: 0;
    }
}
@media (max-width: 578px){
    .button{
        min-height: 40px;
    }
    .container{
        width: 90%;
    }
    .input-address{
        margin-top: 15px;
        order: 5;
        flex: 1;
    }
    .prommat{
        background-image: none;
    }
    .prom-title{
        margin-bottom: 10px;
    }
    .sections-title{
        font-style: 20px;
    }
    .card{
        flex-basis: 100%;
    }
    .card-image{
        width: 100%;
    }
    .footer-nav{
        text-align: center;
        display: flex;
        margin-right: 35px;
    }
    .footer-link{
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        order:  0;
        display: flex;
        font-display: column;
    }

    .footer-logo{
        margin-right: 15px;
        order: 1;
        display: flex;
        font-display: column;
    }
    .social-links{
        order: 2;
    }
    .footer{
        padding: 30px 0;
    }
    .footer-block{
        flex-wrap: wrap;
        align-items: flex-start;
    }
}
@media(max-width:480px){
    .button-text{
        display: none;
    }
    .button-icon{
        margin: 0;
    }
    .button{
        min-height: 40px;
    }
    .prommat{
        padding: 20px;
    }
    .sections-heading{
        flex-wrap: wrap;
    }
    .footer-block{
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-logo{
        order: 0;
        margin-bottom: 20px;
    }
    .footer-nav{
        order: 1;
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .footer-link:not(:last-child){
        margin-right: 0;
    }
}